[Desktop Entry]
Name=Verminal
Comment=Serial, TCP, and UDP terminal
Exec=verminal
Icon=io.github.supercamel.Verminal
Terminal=false
Type=Application
Categories=Development;Utility;
StartupNotify=true
